---
const personalImageAlt = "Miguel Almanza"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
const info = {
  titulo: "Hey, soy Miguel Almanza",
  parrafoOne: "+2 años de experiencia. ",
  strong: "Ingeniero de Sistemas ",
  parrafoTwo: " de Barranquilla, Colombia enfocado en desarrollo y mantenimiento de aplicaciones web.",
  linkedin: "https://linkedin.com/in/midudev",
  imgSrc: "/miguel.webp",
  navEmail: "mailto:almanza.m@outlook.com",
  navEmailText: "Contáctame",
  navLinkedin: "https://linkedin.com/in/miguel-almanza/",
  navLinkedinText: "LinkedIn"
}
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src={info.imgSrc}
      alt={personalImageAlt}
    />
    <a
      href={info.linkedin}
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <!-- <Badge>Disponible para trabajar</Badge> -->
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    {info.titulo}
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    {info.parrafoOne}<strong
      >{info.strong}</strong
    >{info.parrafoTwo}
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href={info.navEmail}>
      <MailIcon class="size-4" />
      {info.navEmailText}
    </SocialPill>
    <SocialPill href={info.navLinkedin}>
      <LinkedInIcon class="size-4" />
      {info.navLinkedinText}
    </SocialPill>
  </nav>
</div>
