---
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
import CVIcon from "@/components/icons/CVIcon.astro"
const info = {...Astro.props.info}
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src={info.imgSrc}
      alt={info.personalImageAlt}
    />
    <!-- <a
      href={info.linkedin}
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a> -->
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    {info.titulo}
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    {info.parrafos.parrafoOne}<strong
      >{info.parrafos.strong}</strong
    >{info.parrafos.parrafoTwo}
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href={info.navEmail}>
      <MailIcon class="size-4" />
      {info.navEmailText}
    </SocialPill>
    <SocialPill href={info.navLinkedin}>
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href={info.navCVLink}>
      <CVIcon class="size-4" />
      {info.navCV}
    </SocialPill>
  </nav>
</div>
