---
import AboutMe from "../components/AboutMe.astro"
import Briefcase from "../components/icons/Briefcase.astro"
import CodeIcon from "../components/icons/Code.astro"
import Experience from "../components/Experience.astro"
import ProfileCheck from "../components/icons/ProfileCheck.astro"
import Projects from "../components/Projects.astro"
import SectionContainer from "../components/SectionContainer.astro"
import Hero from "../components/Hero.astro"

const sections = {...Astro.props.info.sections}
const info = {...Astro.props.info}

---
<main class="px-4">
    <SectionContainer id="home" class="py-16 md:py-36">
      <Hero info={info.heroInfo}>
      </slot>
    </Hero>
    </SectionContainer>
    <div class="space-y-24">
    <SectionContainer id="workExperience">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <Briefcase class="size-8" />
        {sections.workExperience}
      </h2>
      <Experience info={info}/>
    </SectionContainer>

    <SectionContainer id="works">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <CodeIcon class="size-7" />
        {sections.works}
      </h2>
      <Projects info={info}/>
    </SectionContainer>

    <SectionContainer id="aboutMe">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
      >
        <ProfileCheck class="size-8" />
        {sections.aboutMe}
      </h2>
      <AboutMe info={info.aboutMeInfo}/>
    </SectionContainer>
  </div>
  </main>
  <script is:inline>
    document.addEventListener("astro:page-load", () => {
      const userLanguage = navigator.language || navigator.userLanguage;
      const primaryLanguage = userLanguage.split('-')[0];
      const supportedLanguages = ["es", "en"];
      let selectedLanguage = supportedLanguages.includes(primaryLanguage) ? primaryLanguage : "en";
      // Verificar si existe la variable selectedLanguage en localStorage
      let storedLanguage = localStorage.getItem('selectedLanguage');
      // Obtener el prefijo del idioma actual de la página
      const currentPathname = window.location.pathname;
      const pathLanguage = currentPathname.split('/')[1];

      // Verificar si el idioma del usuario es diferente al prefijo del idioma actual de la página
      if (((selectedLanguage==="es" && pathLanguage==="en")||(selectedLanguage==="en"&&pathLanguage!=="en")) && !storedLanguage) {
        // Si es diferente, actualizar la URL de la página e incluir el prefijo del idioma del visitante
        let newPathname = currentPathname;

        if (selectedLanguage === 'es' && pathLanguage==="en") {
          // Si el idioma seleccionado es "es" y la ruta actual tiene prefijo, eliminar el prefijo
          newPathname = currentPathname.substring(3);
        } else if (selectedLanguage === 'en' && (pathLanguage!=="en")) {
          // Si el idioma seleccionado es "en" y la ruta actual no tiene prefijo, agregar el prefijo
          newPathname = `/en${currentPathname}`;
        } 
        window.location.pathname = newPathname
        localStorage.setItem('selectedLanguage', selectedLanguage);
      }
    })
  </script>